
.icon {
    padding: 20px;
    border: 1px solid #fff;
}

.box {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.box h2 {
    text-align: center;
    padding-bottom: 10px;
}

.container{
    position:relative;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 10px;
}

.list{
    list-style-type:none;
    text-align: center;
}