.submitButton{
    width : 15% !important;
    font-size: medium !important;
    text-align: center !important;
}


.textRight{
    text-align: right;
}

.textLeft{
    text-align: left;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width : 30%;
    border-top: 2px solid !important;
    opacity:0.6 !important;
}
