.body {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
    background: #50a3a2;
    width: 100%;
    height: 100%;
    position: fixed;
}

.container {
    margin-top: 100px;
    padding: 0 0;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 5px;
}

.pClass {
    margin-bottom: 2%;
}

.inputClass {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.buttonClass {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
}